#phanquyen:not(.active) {

    display: none;

}



div#phanquyen {
	position: relative;


    margin: auto;

    top: 40px;

    left: 50px;

    right: 0;

    bottom: 0;

    overflow: auto;

    z-index: 9999;

    background-color: rgba(0, 0, 0, 0.5);

}